{
  ApplicationName = "Hello";
  ApplicationDescription = "A Little GNUstep GUI Demo";
  ApplicationRelease = 1.0;
  ApplicationIcon = "./Resources/AppIcon.tiff";
  NSIcon = "./Resources/AppIcon.tiff";
  FullVersionID = "1 Jan 2021";
  Authors = ("APJ");
  Copyright = "Copyright (C) 2021, APJ";
  CopyrightDescription = "Released under the GNU General Public License 2.0";
}
