[Desktop Entry]
Type=Application
Categories=X-GNUstep;
Icon=/usr/local/lib/GNUstep/Applications.app/Resources/Icon.app.tiff
Exec=/usr/bin/openapp Hello
